      <div class="row">
        <div class="col-6">
          <% staffs.each do |s| %>
            <div class="row">
              <%= link_to "#{s.last_name + s.first_name}", admin_staff_path(s.id), class: "text-info" %>
            </div>
          <% end %>
        </div>