<div class="container">
  <div class="row">
    <div class="col-2">
      <%= render 'layouts/sidebar_left', tag_lists: @tag_lists %>
    </div>
    <div class="col-8">
      <%= render 'index', infomations: @infomations %>
    </div>
    <div class="col-2">
      <%= link_to new_staff_infomation_path, class: 'btn btn-info' do %>
        新規投稿
      <% end %>
    </div>
  </div>
</div>