<div class= "container">
  <div class="row justify-content-md-center">
    <%= image_tag 'mitene-logo.png'%>
  </div>
  <div class="row justify-content-md-center">
   <p class="ml-3"><a class="btn btn-info" href="/staff/sign_in">従業員はこちら</a></p>
   <p class="ml-3"><a class="btn btn-success" href="/admin/sign_in">管理者はこちら</a></p>
  </div>

</div>
